*{
    margin: 0;
    padding: 0;

}

.cabecalho  {
    background-color: #13162F;
    color: green;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-itens{
    display: inline-block;
    margin: 0 16px;
}


